a {
  text-decoration: none;
}

img {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.homepage-links,
.contact-links,
.photo-links {
  text-align: center;
}
h1,
h2,
p {
  text-align: center;
}
